<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.MemberAddressExtMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.MemberAddress" extends="org.forbes.dal.mapper.MemberAddressMapper.BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    <include refid="org.forbes.dal.mapper.MemberAddressMapper.Base_Column_List" />
  </sql>


</mapper>