<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.MemberCartItemMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.MemberCartItem" >
    <!-- id -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <!-- 创建人 -->
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- 购物车id -->
    <result column="cart_id" property="cartId" jdbcType="BIGINT" />
    <!-- 商家id -->
    <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
    <!-- 商品id -->
    <result column="pro_id" property="proId" jdbcType="BIGINT" />
    <!-- 商品编码 -->
    <result column="pro_sn" property="proSn" jdbcType="VARCHAR" />
    <!-- 商品名称 -->
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <!-- 规格id -->
    <result column="spec_id" property="specId" jdbcType="BIGINT" />
    <!-- 规格编码 -->
    <result column="spec_sn" property="specSn" jdbcType="VARCHAR" />
    <!-- 单价 -->
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <!-- 总价 -->
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, cart_id, merchant_id, pro_id, 
    pro_sn, pro_name, spec_id, spec_sn, price, quantity, total_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from f_member_cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_member_cart_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" >
    insert into f_member_cart_item (id, create_by, create_time, 
      update_by, update_time, cart_id, 
      merchant_id, pro_id, pro_sn, 
      pro_name, spec_id, spec_sn, 
      price, quantity, total_amount
      )
    values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{cartId,jdbcType=BIGINT}, 
      #{merchantId,jdbcType=BIGINT}, #{proId,jdbcType=BIGINT}, #{proSn,jdbcType=VARCHAR}, 
      #{proName,jdbcType=VARCHAR}, #{specId,jdbcType=BIGINT}, #{specSn,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" >
    insert into f_member_cart_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="proSn != null" >
        pro_sn,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
      <if test="specSn != null" >
        spec_sn,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cartId != null" >
        #{cartId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proSn != null" >
        #{proSn,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=BIGINT},
      </if>
      <if test="specSn != null" >
        #{specSn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update f_member_cart_item
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cartId != null" >
        cart_id = #{cartId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="proSn != null" >
        pro_sn = #{proSn,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="specId != null" >
        spec_id = #{specId,jdbcType=BIGINT},
      </if>
      <if test="specSn != null" >
        spec_sn = #{specSn,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" >
    update f_member_cart_item
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cart_id = #{cartId,jdbcType=BIGINT},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      pro_id = #{proId,jdbcType=BIGINT},
      pro_sn = #{proSn,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      spec_id = #{specId,jdbcType=BIGINT},
      spec_sn = #{specSn,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>