<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.MemberAddressMapper" >
  <resultMap id="BaseResultMap" type="org.forbes.dal.entity.MemberAddress" >
    <!-- id -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <!-- 更新人 -->
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- 会员id -->
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <!-- 收货人 -->
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <!-- 详细地址 -->
    <result column="address" property="address" jdbcType="VARCHAR" />
    <!-- 邮编 -->
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <!-- 电话 -->
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <!-- 0-否,1-是 -->
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_time, update_by, update_time, member_id, consignee, province, 
    city, area, address, zip_code, phone, is_default
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >-->
    <!--select 'false' as QUERYID,-->
    <!--<include refid="Base_Column_List" />-->
    <!--from f_member_address-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >-->
    <!--delete from f_member_address-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</delete>-->
  <!--<insert id="insert" >-->
    <!--insert into f_member_address (id, create_by, create_time, -->
      <!--update_by, update_time, member_id, -->
      <!--consignee, province, city, -->
      <!--area, address, zip_code, -->
      <!--phone, is_default)-->
    <!--values (#{id,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, -->
      <!--#{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{memberId,jdbcType=BIGINT}, -->
      <!--#{consignee,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, -->
      <!--#{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, -->
      <!--#{phone,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIGINT})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" >-->
    <!--insert into f_member_address-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="createBy != null" >-->
        <!--create_by,-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--update_by,-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--update_time,-->
      <!--</if>-->
      <!--<if test="memberId != null" >-->
        <!--member_id,-->
      <!--</if>-->
      <!--<if test="consignee != null" >-->
        <!--consignee,-->
      <!--</if>-->
      <!--<if test="province != null" >-->
        <!--province,-->
      <!--</if>-->
      <!--<if test="city != null" >-->
        <!--city,-->
      <!--</if>-->
      <!--<if test="area != null" >-->
        <!--area,-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--address,-->
      <!--</if>-->
      <!--<if test="zipCode != null" >-->
        <!--zip_code,-->
      <!--</if>-->
      <!--<if test="phone != null" >-->
        <!--phone,-->
      <!--</if>-->
      <!--<if test="isDefault != null" >-->
        <!--is_default,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="createBy != null" >-->
        <!--#{createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--#{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--#{updateBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--#{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="memberId != null" >-->
        <!--#{memberId,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="consignee != null" >-->
        <!--#{consignee,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="province != null" >-->
        <!--#{province,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="city != null" >-->
        <!--#{city,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="area != null" >-->
        <!--#{area,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--#{address,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="zipCode != null" >-->
        <!--#{zipCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="phone != null" >-->
        <!--#{phone,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isDefault != null" >-->
        <!--#{isDefault,jdbcType=BIGINT},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" >-->
    <!--update f_member_address-->
    <!--<set >-->
      <!--<if test="createBy != null" >-->
        <!--create_by = #{createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--update_by = #{updateBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="memberId != null" >-->
        <!--member_id = #{memberId,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="consignee != null" >-->
        <!--consignee = #{consignee,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="province != null" >-->
        <!--province = #{province,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="city != null" >-->
        <!--city = #{city,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="area != null" >-->
        <!--area = #{area,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--address = #{address,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="zipCode != null" >-->
        <!--zip_code = #{zipCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="phone != null" >-->
        <!--phone = #{phone,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isDefault != null" >-->
        <!--is_default = #{isDefault,jdbcType=BIGINT},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" >-->
    <!--update f_member_address-->
    <!--set create_by = #{createBy,jdbcType=VARCHAR},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--update_by = #{updateBy,jdbcType=VARCHAR},-->
      <!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--member_id = #{memberId,jdbcType=BIGINT},-->
      <!--consignee = #{consignee,jdbcType=VARCHAR},-->
      <!--province = #{province,jdbcType=VARCHAR},-->
      <!--city = #{city,jdbcType=VARCHAR},-->
      <!--area = #{area,jdbcType=VARCHAR},-->
      <!--address = #{address,jdbcType=VARCHAR},-->
      <!--zip_code = #{zipCode,jdbcType=VARCHAR},-->
      <!--phone = #{phone,jdbcType=VARCHAR},-->
      <!--is_default = #{isDefault,jdbcType=BIGINT}-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</update>-->
</mapper>